.composante_approches {
    background: url(../assets/background/approches.svg);
    background-size: cover;
    padding: var(--spacing-bg);
    position: relative;

    .deco {
        position: absolute;
        top: -10%;
        left: 0;
        z-index: 1;
    }

    .wrapper {
        h1 {
            text-align: center;
        }

        .cards {
            margin-top: 100px;
            display: flex;

            gap: 40px;
            flex-wrap: nowrap;

            .card {
                background-color: var(--color-very-pale-green);
                padding: 50px;
                border-radius: 75px;
                width: 100%;

                h3 {
                    margin: 0;
                }

                ul li {
                    padding: 15px 0;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: -15px;
                    left: -20px;
                    width: 100%;
                    height: 100%;
                    border: 8px solid var(--color-deep-green);
                    background-color: none;
                    border-radius: 75px;
                    z-index: -1;
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .composante_approches {
        background-position: center;
        .wrapper {
            .cards .card {
                ul {
                    padding: 0;
                }

                &::after {
                    top: -10px;
                    left: -15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .composante_approches {
        .wrapper {
            .cards {
                flex-wrap: wrap;
                .card {
                    &::after {
                        top: -15px;
                        left: -20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .composante_approches {
        .deco {
            width: 20%;
            top: -5%;
        }
    }
}

@media only screen and (max-width: 450px) {
    .composante_approches {
        padding: var(--spacing-lg);
        .wrapper {
            h1 {
                margin-bottom: 10px;
            }
            .cards {
                margin-top: 50px;
                .card {
                    padding: 30px;
                    &::after {
                        top: -10px;
                        left: -10px;
                    }
                }
            }
        }
    }
}
