.avantagesCAJ {
    padding: 80px 0;

    h1 {
        margin: 30px auto;
        line-height: 112.97%;
    }

    .cards {
        display: flex;
        gap: 40px;

        @media only screen and (max-width: 1500px) {
            flex-direction: column;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;

            @media only screen and (max-width: 1500px) {
                width: 65%;
                margin: 0 auto;
            }
            @media only screen and (max-width: 1013px) {
                width: 100%;
            }

            background-color: #dff2e4;
            border-radius: 50px;

            .title {
                display: flex;
                align-items: center;
                gap: 45px;

                @media only screen and (max-width: 1160px) {
                    flex-direction: column;
                    gap: 0;
                    padding: 20px 0;
                }

                h3 {
                    color: var(--color-deep-green);
                    text-transform: uppercase;
                    text-align: left;
                    font-size: 2.5em;

                    @media only screen and (max-width: 1160px) {
                        margin: 0;
                    }
                }

                @media only screen and (max-width: 700px) {
                    img {
                        width: 60%;
                    }
                }
            }

            .content {
                background: #fcffe8;
                border-radius: 50px;
                padding: 8px 35px;
                outline: 5px solid var(--color-deep-green);
                outline-offset: 6px;

                @media only screen and (max-width: 700px) {
                    padding: 8px;
                }

                ul {
                    margin: 0;

                    li {
                        margin: 25px 0;
                        line-height: 149.5%;
                    }
                }
            }
        }

        .personneaidante {
            .title {
                padding: 0 60px;
            }
        }

        .card + .card {
            .title {
                h3 {
                    order: 2;
                }
            }
        }
    }
}
