.composante_chiffres {
    background: url(../assets/background/chiffres_bg.svg) no-repeat;
    background-size: cover;
    padding: 200px 0 300px 0;
    margin-bottom: -130px;
    position: relative;

    .deco {
        position: absolute;
        right: 0;
        top: -15%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            max-width: 60%;
            text-align: center;
            margin-bottom: 100px;
        }

        .numbers {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--color-white);
                margin: 0 25px;
                padding: 50px 25px;
                transition: 0.4s $ease-in-out-back;

                &:hover {
                    transform: translateY(-30px);
                    transition: 0.4s $ease-in-out-back;
                }

                span {
                    font-size: 60px;
                    font-family: var(--font-seconday);
                    font-weight: 500;
                    color: #207ca1;
                    margin: 0;
                }

                p {
                    text-align: center;
                    margin: 0;
                }
            }

            .proches {
                border-radius: 63% 37% 44% 56% / 52% 37% 63% 48%;
            }

            .malades {
                border-radius: 52% 48% 32% 68% / 42% 40% 60% 58%;
            }

            .heures {
                border-radius: 52% 48% 57% 43% / 56% 61% 39% 44%;
            }

            .service {
                border-radius: 41% 59% 44% 56% / 43% 67% 33% 57%;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .composante_chiffres {
        .wrapper {
            .numbers {
                div {
                    span {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .composante_chiffres {
        background-position: center;
        .wrapper {
            h1 {
                max-width: none;
            }
            .numbers {
                div {
                    margin: 0 15px;
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .composante_chiffres {
        padding-bottom: 200px;
        .deco {
            top: -8%;
        }
        .wrapper {
            .numbers {
                flex-direction: column;
                div {
                    p {
                        max-width: 70%;
                    }
                }
                .proches {
                    margin: 0 0 0 -250px;
                }
                .malades {
                    margin: -50px 0 0 250px;
                }

                .heures {
                    margin: -100px 0 0 -250px;
                }

                .service {
                    margin: -70px 0 0 250px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .composante_chiffres {
        .deco {
            top: 0;
            width: 30%;
        }
        .wrapper {
            .numbers {
                div {
                    padding: 25px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .composante_chiffres {
        padding-bottom: 200px;

        .deco {
            top: 2%;
        }
        .wrapper {
            .numbers {
                div {
                    p {
                        max-width: 80%;
                    }
                }
                .proches {
                    margin: 0 0 0 -100px;
                }
                .malades {
                    margin: 0 0 0 150px;
                }

                .heures {
                    margin: -15px 0 0 -130px;
                    padding: 40px 20px;
                }

                .service {
                    margin: 0 0 0 150px;
                    padding: 40px 20px;
                }
            }
        }
    }
}
