.composante_h1_p_button {
    padding: 100px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            padding: 25px 0;
        }

        a {
            color: var(--color-black);
            font-weight: 500;
            background-color: #abdbaa;
            padding: 10px 30px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 7px 0px var(--color-deep-green));
            transition: 0.4s $ease-in-out-back;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(7px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }
        }
    }
}
