.comp_video {
    position: relative;
    background: url(../assets/background/nosateliers.svg) no-repeat;
    background-size: cover;
    padding: var(--spacing-bg);

    .wrapper {
        h1 {
            margin-bottom: 50px;
        }
        iframe {
            display: flex;
            margin: auto;

            size: 90%;
        }
    }

    @media only screen and (max-width: 1400px) {
        .wrapper {
            h1 {
                margin-bottom: 30px;
            }
            iframe {
                margin: auto;

                width: 80%;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        padding: 75px 0 75px 0;
    }
}
