.composante_texte_image_1 {
    .wrapper {
        display: flex;
        gap: 100px;

        @media only screen and (max-width: 1400px) {
            flex-direction: column;
            gap: 50px;
            width: 85vw;
            align-items: center;
        }

        img {
            width: 100%;
            object-fit: cover;

            @media only screen and (max-width: 1280px) {
                width: 80%;
            }

            @-moz-document url-prefix() {
                width: auto;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        h2 {
            margin: 0;
            text-align: left;
        }

        a {
            display: inline-block;

            @media only screen and (min-width: 1080px) {
                align-self: start;
            }

            color: var(--color-black);
            font-weight: 500;
            background-color: #abdbaa;
            padding: 10px 30px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 7px 0px var(--color-deep-green));
            transition: 0.4s $ease-in-out-back;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(7px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }
        }

        @media only screen and (max-width: 1080px) {
            align-items: center;

            h2,
            p {
                text-align: center;
            }

            a {
                align-self: center;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        padding: 50px 0;
    }
}

.composante_texte_image_1:nth-of-type(even) + .composante_texte_image_1 {
    .wrapper {
        .content {
            order: 2;

            @media only screen and (max-width: 1500px) {
                order: initial;
            }
        }
    }
}

.composante_texte_image_2 {
    padding: var(--spacing-lg);

    .wrapper {
        gap: 100px;

        .content {
            display: flex;
            h2 {
                margin: 0;
                padding-bottom: 50px;
                text-align: left;
            }

            ul {
                padding: 0 0 50px;
                margin: 0;

                li {
                    background: url(../assets/images/illustrations/list-style.svg)
                        no-repeat left center;
                    padding: 5px 0 5px 80px;
                    list-style: none;
                    vertical-align: middle;
                    font-size: var(--font-size-content);

                    p {
                        margin: 10px;
                    }
                }
            }

            .button_bleu {
                background-color: #1976a6;
                padding: 10px 20px;
                border-radius: 30px;
                border: none;
                filter: drop-shadow(4px 6px 0px #1757a1);
                font-weight: 500;

                transition: 0.4s $ease-in-out-back;

                color: white;

                align-self: flex-start;

                &:hover {
                    cursor: pointer;
                    transform: translateX(4px) translateY(6px);
                    filter: none;
                    transition: 0.4s $ease-in-out-back;
                }

                a {
                    color: var(--color-very-pale-green);
                }
            }
        }

        img {
            width: 100%;
            object-fit: cover;

            margin-left: 80px;
        }
    }

    @media only screen and (max-width: 1500px) {
        .wrapper {
            .content {
                flex-direction: column;
                h2 {
                    padding-bottom: 40px;
                }

                img {
                    margin: 15px 0;
                }
            }
        }
    }

    @media only screen and (max-width: 470px) {
        padding: 50px 0;
        .wrapper {
            .content {
                ul {
                    padding: 0;
                    li {
                        background: url(../assets/images/illustrations/list-style.svg)
                            no-repeat left top;
                        padding: 5px 0 5px 50px;
                        background-size: 10%;

                        p {
                            margin: 0 0 10px 0;
                        }
                    }
                }
            }
        }
    }
}

.composante_texte_image_2:nth-of-type(odd) + .composante_texte_image_2 {
    background-color: #dceab2;

    .content {
        div {
            order: 2;
        }

        img {
            margin: 0 80px 0 0;
        }

        @media only screen and (max-width: 1500px) {
            div {
                order: initial;
            }
        }
    }
}
