.comp_grille {
    padding: var(--spacing-lg);

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
            margin-bottom: 50px;
        }

        .grille {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 50px;

            @media only screen and (max-width: 500px) {
                flex-direction: column;
            }

            .staff {
                width: 20%;

                @media only screen and (max-width: 1345px) {
                    width: 30%;
                }
                @media only screen and (max-width: 780px) {
                    width: 45%;
                }
                @media only screen and (max-width: 600px) {
                    width: 40%;
                }

                @media only screen and (max-width: 500px) {
                    width: 100%;
                }

                h4 {
                    margin: 0;

                    @media only screen and (max-width: 900px) {
                        font-size: 1rem;
                    }

                    @media only screen and (max-width: 500px) {
                        font-size: 1.5rem;
                    }
                }
                h3 {
                    margin: 0;
                    padding: 45px 0 10px 0;

                    @media only screen and (max-width: 1180px) {
                        font-size: 2rem;
                    }

                    @media only screen and (max-width: 900px) {
                        font-size: 1.5rem;
                    }

                    @media only screen and (max-width: 500px) {
                        font-size: 2rem;
                    }
                }

                &:nth-child(3n + 1) {
                    img {
                        border-radius: 55% 45% 70% 30% / 30% 51% 49% 70%;
                    }
                }

                &:nth-child(3n + 2) {
                    img {
                        border-radius: 41% 59% 36% 64% / 49% 62% 38% 51%;
                    }
                }

                &:nth-child(3n + 3) {
                    img {
                        border-radius: 55% 45% 70% 30% / 30% 51% 49% 70%;
                    }
                }
            }
        }

        a {
            color: var(--color-black);
            font-weight: 500;
            background-color: #abdbaa;
            padding: 10px 30px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 7px 0px var(--color-deep-green));
            transition: 0.4s $ease-in-out-back;
            display: inline-block;
            margin: 50px;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(7px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }
        }
    }
}
