.composante_4colonnes_fondcouleur {
    padding: var(--spacing-lg);
    .wrapper {
        h1 {
            text-align: center;
            margin-bottom: 150px;

            @media only screen and (max-width: 1380px) {
                margin-bottom: 100px;
            }
            @media only screen and (max-width: 705px) {
                margin-bottom: 80px;
            }
        }
    }
}

.cards-4colonnes {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;

    .card {
        text-align: center;

        background-color: var(--color-primary);
        border-radius: 75px;
        padding: 50px 30px;
    }

    @media only screen and (max-width: 1500px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 15px;

        .card {
            width: 100%;
            padding: 35px 20px;
            border-radius: 40px;

            font-size: var(--font-size-content);
        }

        .wrapper {
            h1 {
                margin-bottom: 100px;
            }
        }
    }
    @media only screen and (max-width: 770px) {
        grid-template-columns: 1fr;
        gap: 9px;

        .card {
            width: 100%;
            padding: 20px 15px;
            border-radius: 40px;

            font-size: var(--font-size-content);
        }

        .wrapper {
            h1 {
                margin-bottom: 80px;
            }
        }
    }
}
