.apropos {
    padding: 0 0 100px 0;
    background-color: var(--color-very-pale-green);
    .wrapper {
        h1 {
            padding: 150px 0 100px 0;
        }
        .contenu {
            display: flex;
            justify-content: space-between;
            h2 {
                text-align: left;
            }
            div {
                width: 45%;
                ul {
                    padding: 0 0 50px;
                    margin: auto;

                    li {
                        span {
                            font-weight: 700;
                        }
                        background: url(../../assets/images/illustrations/list-style.svg)
                            no-repeat left center;
                        padding: 20px 0 20px 80px;
                        list-style: none;
                        vertical-align: middle;
                        font-size: var(--font-size-content);
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 700px) {
        .wrapper {
            .contenu {
                display: flex;
                flex-direction: column;
                align-items: center;
                div {
                    width: 100%;
                }
            }
        }
    }
}

.nosvaleurs {
    background: url(../assets/background/approches.svg);
    background-size: cover;
    margin: -150px;
    padding: 0 0 250px 0;

    h2 {
        padding: 200px 0 10px 0;
        text-align: left;
    }
    ul {
        padding: 0;
        margin: auto;

        li {
            span {
                font-weight: 700;
            }
            background: url(../assets/images/illustrations/list-style.svg)
                no-repeat left top;
            padding: 0 0 40px 80px;
            list-style: none;
            vertical-align: middle;
            font-size: var(--font-size-content);
        }
    }

    @media only screen and (max-width: 1300px) {
        background-position: center;
        .wrapper {
            width: 70%;
        }
    }
    @media only screen and (max-width: 600px) {
        background-position: center;
        .wrapper {
            padding: 0 12px;
            width: 50%;
        }
    }
}

.Page_aporpos2 {
    h2 {
        margin: 0;
    }
}

.Page_aporpos1 {
    padding: 50px 0;
    .wrapper {
        display: flex;

        div {
            div {
                flex-grow: 2;
            }
        }

        h2 {
            margin: 0;
            padding-bottom: 100px;
            text-align: left;
        }

        ul {
            padding: 0 0 50px;
            margin: auto;

            li {
                background: url(../../assets/images/illustrations/list-style.svg)
                    no-repeat left center;
                padding: 20px 0 20px 80px;
                list-style: none;
                vertical-align: middle;
                font-size: var(--font-size-content);
            }
        }

        img {
            padding-left: 100px;
        }
    }

    @media only screen and (max-width: 1500px) {
        .wrapper {
            display: block;

            h2 {
                padding-bottom: 50px;
                margin: auto;
            }
            p {
                padding-bottom: 50px;
                margin: auto;
            }

            img {
                padding: 50px 0;
                margin: auto;
                width: 85%;
            }
        }
    }
}

.historique {
    padding: 50px 0;
    .wrapper {
        img {
            object-fit: cover;
        }
    }
}
