.comp_h2_list_button {
    position: relative;
    padding: var(--spacing-lg);

    .deco {
        position: absolute;
        top: -5%;
        right: 0;
        width: 12%;
        z-index: -1;
    }

    .wrapper {
        h2 {
            text-align: left;
        }

        span {
            font-family: var(--font-secondary);
            font-size: var(--font-size-bigger-content);
        }

        ul {
            padding: 0;
            li {
                background: url(../assets/images/illustrations/list-style2.svg)
                    no-repeat left center;
                padding: 5px 0 5px 80px;
                list-style: none;
                vertical-align: middle;

                p {
                    margin: 10px;
                }
            }
        }
        .button_container {
            display: flex;
            justify-content: flex-end;
            a {
                display: inline-block;

                color: var(--color-black);
                font-weight: 500;
                background-color: #abdbaa;
                padding: 10px 30px;
                border-radius: 30px;
                border: none;
                filter: drop-shadow(4px 7px 0px var(--color-deep-green));
                transition: 0.4s $ease-in-out-back;

                &:hover {
                    cursor: pointer;
                    transform: translateX(4px) translateY(7px);
                    filter: none;
                    transition: 0.4s $ease-in-out-back;
                }
            }
        }
    }
}

.comp_h2_list_button + .comp_h2_list_button {
    .deco {
        transform: rotateY(180deg);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 12%;
        z-index: -1;
    }
}

@media only screen and (max-width: 1250px) {
    .comp_h2_list_button {
        .deco {
            bottom: -5%;
            right: 0;
            width: 20%;
            z-index: -1;
        }
        .wrapper {
            z-index: 2;
        }
    }
}

@media only screen and (max-width: 500px) {
    .comp_h2_list_button {
        padding: var(--spacing-md);

        .deco {
            bottom: 0;
            right: 0;
            width: 20%;
            z-index: -1;
        }
        .wrapper {
            ul {
                li {
                    background: url(../assets/images/illustrations/list-style2.svg)
                        no-repeat left top;
                    padding: 5px 0 5px 50px;
                    background-size: 10%;

                    p {
                        margin: 0 0 10px 0;
                    }
                }
            }

            span {
                font-size: var(--font-size-content);
            }
        }
    }
}
