.comp_grille {
    padding: 50px 0;

    h1 {
        text-align: center;
        padding: 100px 0 50px 0;
    }

    .grille {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;

        @media only screen and (max-width: 500px) {
            flex-direction: column;
        }

        .staff {
            width: 23%;

            @media only screen and (max-width: 780px) {
                width: 30%;
            }
            @media only screen and (max-width: 600px) {
                width: 40%;
            }
            @media only screen and (max-width: 500px) {
                width: 100%;
            }

            h4 {
                margin: 0;
            }
            h3 {
                margin: 0;
                padding: 45px 0 10px 0;
            }
        }
    }

    .border1 {
        img {
            border-radius: 55% 45% 70% 30% / 30% 51% 49% 70%;
        }
    }
    .border2 {
        img {
            border-radius: 41% 59% 36% 64% / 49% 62% 38% 51%;
        }
    }
    .border3 {
        img {
            border-radius: 52% 48% 60% 40% / 49% 32% 68% 51%;
        }
    }
}
