.composante_texte_image_1 {
    display: flex;
    gap: 100px;

    @media only screen and (max-width: 1150px) {
        flex-direction: column;
        gap: 50px;
    }

    img {
        width: 50%;
        object-fit: cover;

        @media only screen and (max-width: 1150px) {
            width: 100%;
        }

        @-moz-document url-prefix() {
            width: auto;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        h2 {
            margin: 0 0 50px 0;
            text-align: left;

            @media only screen and (max-width: 1150px) {
                padding-top: 75px;
                text-align: center;
            }
        }

        @media only screen and (max-width: 1080px) {
            align-items: center;
        }
    }

    @media only screen and (max-width: 500px) {
        padding: 50px 0;
    }
}

.composante_texte_image_1:nth-of-type(odd) {
    .content {
        padding: 200px 0 200px 162px;

        @media screen and (max-width: 1500px) {
            padding-left: 100px;
        }

        @media screen and (max-width: 1000px) {
            padding-left: 75px;
        }

        @media screen and (max-width: 600px) {
            padding-left: 50px;
        }

        @media screen and (max-width: 400px) {
            padding-left: 25px;
        }
    }
}

.composante_texte_image_1 + .composante_texte_image_1:nth-of-type(even) {
    .content {
        padding: 200px 162px 200px 0;

        @media screen and (max-width: 1500px) {
            padding-right: 100px;
        }

        @media screen and (max-width: 1000px) {
            padding-right: 75px;
        }

        @media screen and (max-width: 600px) {
            padding-right: 50px;
        }

        @media screen and (max-width: 400px) {
            padding-right: 25px;
        }

        h2 {
            text-align: right;
        }

        order: 2;
        //padding-right: 162px;
        text-align: right;

        @media only screen and (max-width: 1150px) {
            order: initial;
            //padding: 0 162px;
        }
    }
}

.composante_texte_image_2 {
    padding: var(--spacing-lg);

    .wrapper {
        gap: 100px;

        .content {
            display: flex;
            h2 {
                margin: 0;
                padding-bottom: 50px;
                text-align: left;
            }

            ul {
                padding: 0 0 50px;
                margin: 0;

                li {
                    padding: 5px 0 5px 80px;
                    list-style: none;
                    vertical-align: middle;
                    font-size: var(--font-size-content);

                    p {
                        margin: 10px;
                    }
                }
            }
        }

        img {
            width: 100%;
            object-fit: cover;

            margin-left: 80px;
        }
    }

    @media only screen and (max-width: 1500px) {
        .wrapper {
            .content {
                flex-direction: column;
                h2 {
                    padding-bottom: 40px;
                }

                img {
                    margin: 15px 0;
                }
            }
        }
    }

    @media only screen and (max-width: 470px) {
        padding: 50px 0;
        .wrapper {
            .content {
                ul {
                    padding: 0;
                    li {
                        padding: 5px 0 5px 50px;
                        background-size: 10%;

                        p {
                            margin: 0 0 10px 0;
                        }
                    }
                }
            }
        }
    }
}

.composante_texte_image_2:nth-of-type(odd) + .composante_texte_image_2 {
    .content {
        div {
            order: 2;
        }

        img {
            margin: 0 80px 0 0;
        }

        @media only screen and (max-width: 1500px) {
            div {
                order: initial;
            }
        }
    }
}
