.comp_realisation {
    padding: 100px 0;
    display: flex;
    flex-direction: column;

    article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

        @media only screen and (max-width: 1300px) {
            display: flex;
            flex-direction: column;
        }

        h2 {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        div {
            height: 100%;

            img {
                height: 100%;
            }
        }

        &:nth-child(odd) {
            h2 {
                padding: 25px 25px 25px 162px;
                text-align: left;

                @media only screen and (max-width: 1300px) {
                    padding: 25px 0;
                    text-align: center;
                }
            }

            .contenu_text {
                background-color: var(--color-secondary);
                color: white;
                padding: 50px;

                display: flex;
                align-items: end;

                width: 100%;
                height: 100%;
            }
        }

        &:nth-child(even) {
            h2 {
                padding: 25px 162px 25px 25px;
                text-align: right;
                order: 2;

                @media only screen and (max-width: 1300px) {
                    order: inherit;
                    padding: 25px 0;
                    text-align: center;
                }
            }

            .contenu_text {
                background-color: var(--color-primary);
                color: white;
                padding: 50px;

                display: flex;
                align-items: end;

                width: 100%;
                height: 100%;

                order: 1;

                @media only screen and (max-width: 1300px) {
                    order: inherit;
                }
            }
        }
    }
}
