.comp_video {
    position: relative;
    background: url(../assets/background/nosateliers.svg);
    background-size: cover;
    margin: -150px 0 0 0;

    .wrapper {
        h1 {
            padding: 200px 0 100px 0;
        }
        iframe {
            display: flex;
            margin: auto;

            size: 90%;
            padding-bottom: 100px;
        }
    }

    @media only screen and (max-width: 1400px) {
        margin: -80px 0 0 0;

        .wrapper {
            iframe {
                margin: auto;

                width: 80%;
                padding-bottom: 100px;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        margin: -80px 0 0 0;
        .wrapper {
            h1 {
                padding: 100px 0 100px 0;
            }
        }
    }
}
