.composante_h1_p_button {
    padding: var(--spacing-md);

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            margin: 0;
            padding-top: 35px;
        }

        a {
            color: var(--color-black);
            font-weight: 500;
            background-color: #abdbaa;
            margin-top: 35px;
            padding: 10px 30px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 7px 0px var(--color-deep-green));
            transition: 0.4s $ease-in-out-back;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(7px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        padding: var(--spacing-sm);
    }
}

.telechargerprog {
    background-color: var(--color-mid-pale-blue);

    .wrapper {
        a {
            margin-bottom: 50px;
            background-color: #1976a6;
            color: var(--color-white);
            filter: drop-shadow(4px 7px 0px #1757a1);
        }
    }
}

.has-text-align-center {
    text-align: center;
    width: 75%;
    margin: 20px auto;
}
