.compo_propos {
    padding: 100px 0;

    article {
        position: relative;

        .bg_image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        .blur {
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);

            position: absolute;
            z-index: 2;
        }

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-top: 200px;
            padding-bottom: 200px;

            z-index: 3;
            position: inherit;

            color: white;

            @media only screen and (max-width: 800px) {
                flex-direction: column;
                gap: 35px;

                padding-top: 100px;
                padding-bottom: 100px;
            }
        }

        h2 {
            margin: 0;
        }

        p {
            margin: 0;

            width: 60%;

            @media only screen and (max-width: 800px) {
                width: 100%;
            }
        }
    }
}
