.composante_texte_image_1 {
    padding: 50px 0;
    .wrapper {
        display: flex;

        div {
            div {
                flex-grow: 2;
            }
        }

        h2 {
            padding-bottom: 50px;
            text-align: left;
        }
        a {
            display: inline-block;

            color: var(--color-black);
            font-weight: 500;
            background-color: #abdbaa;
            padding: 10px 30px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 7px 0px var(--color-deep-green));
            transition: 0.4s $ease-in-out-back;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(7px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }
        }

        img {
            padding-left: 100px;
        }
    }

    @media only screen and (max-width: 1156px) {
        .wrapper {
            display: block;
        }

        h2 {
            padding-bottom: 50px;
            margin: auto;
        }
        p {
            padding-bottom: 50px;
            margin: auto;
        }

        img {
            padding-left: 0;
            margin: auto;
            width: 85%;
        }
    }
}

.composante_texte_image_2 {
    padding: 50px 0;

    .wrapper {
        display: flex;
        div {
            order: 2;
            h2 {
                padding-bottom: 50px;
                text-align: left;
            }
            ul {
                padding-bottom: 50px;
                margin: auto;

                li {
                    background: url(../../assets/images/illustrations/list-style.svg)
                        no-repeat left center;
                    padding: 20px 0 20px 80px;
                    list-style: none;
                    vertical-align: middle;
                    font-size: var(--font-size-content);
                }
            }
            a {
                display: inline-block;

                color: var(--color-black);
                font-weight: 500;
                background-color: #abdbaa;
                padding: 10px 30px;
                border-radius: 30px;
                border: none;
                filter: drop-shadow(4px 7px 0px var(--color-deep-green));
                transition: 0.4s $ease-in-out-back;

                &:hover {
                    cursor: pointer;
                    transform: translateX(4px) translateY(7px);
                    filter: none;
                    transition: 0.4s $ease-in-out-back;
                }
            }
        }
    }

    img {
        order: 1;
        padding-right: 100px;

        object-fit: cover;
    }

    @media only screen and (max-width: 1156px) {
        .wrapper {
            display: block;
            div {
                order: 1;
                h2 {
                    padding-bottom: 50px;
                    margin: auto;
                }
                ul {
                    padding-bottom: 50px;
                    margin: auto;
                }
            }

            img {
                order: 2;
                margin: auto;
                width: 85%;
            }
        }
    }
}
