.comp_links {
    padding: var(--spacing-lg);
    position: relative;

    .deco {
        position: absolute;
        top: -5%;
        left: 0;
        width: 12%;
        z-index: 2;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 70%;

            a {
                display: inline-block;
                font-family: var(--font-secondary);
                padding: 25px 45px;
                background-color: #dceab2;
                border-radius: 75px;
                margin: 20px;
                transition: 0.4s $ease-in-out-back;
                text-align: center;

                &:hover {
                    color: var(--color-black);
                    transform: translateY(-10px);
                    transition: 0.4s $ease-in-out-back;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .comp_links {
        padding: 75px 0;

        .deco {
            top: 0;
            width: 20%;
            z-index: -1;
        }
        .wrapper {
            .links {
                width: 100%;
                a {
                    padding: 15px 25px;
                    font-size: 16px;
                }
            }
        }
    }
}
