.contact_page {
    padding: var(--spacing-lg);

    .wrapper {
        h1 {
            text-align: center;

            margin-bottom: 50px;
        }
        div {
            display: flex;

            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    margin-bottom: 30px;

                    transition: 0.4s $ease-in-out-back;

                    &:hover {
                        transition: 0.4s $ease-in-out-back;
                        transform: translateX(10px);
                    }
                }

                a {
                    max-width: 40%;

                    @media only screen and (max-width: 1160px) {
                        max-width: 75%;
                    }
                }
            }

            div {
                width: 100%;

                @media only screen and (max-width: 1160px) {
                    width: 50%;
                }
            }
        }
    }
}
