.etape {
    padding: 100px 0;

    .wrapper {
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: 1490px) {
            justify-content: left;
        }
    }

    h1 {
        text-align: center;
        margin-bottom: 150px;
    }

    img {
        width: 100%;
    }

    .alignement {
        overflow-x: scroll;
        overflow-wrap: normal;

        ul {
            display: flex;
            align-items: center;
            padding: 0;

            li {
                background: url(../assets/images/illustrations/list-style.svg)
                    no-repeat left center;
                padding: 10px 50px;
                vertical-align: middle;
                list-style: none;
                line-height: 1.5rem;
            }
        }

        @media only screen and (max-width: 1000px) {
            ul {
                li {
                    background-size: 25% 25%;
                }
            }
        }
    }
}
