.etape {
    padding: 100px 0;

    .wrapper {
        display: flex;
        justify-content: space-around;
    }

    h1 {
        text-align: center;
        margin-bottom: 150px;
    }

    img {
        width: 100%;
    }

    div {
        p {
            background: url(../assets/images/illustrations/list-style.svg)
                no-repeat left center;
            background-size: contain;
            padding-left: 60px;
        }
    }
}
