.etape {
    padding: 100px 0;

    .wrapper {
        display: flex;
        justify-content: space-around;
    }

    h1 {
        text-align: center;
        margin-bottom: 150px;
    }

    img {
        width: 100%;
    }

    div {
        ul {
            display: flex;
            padding: 0;

            li {
                background: url(../assets/images/illustrations/list-style.svg)
                    no-repeat left center;
                padding: 10px 50px 10px 50px;
                vertical-align: middle;
                list-style: none;
                line-height: 1.5rem;
            }
        }
    }
}
