.etape {
    padding: var(--spacing-lg);

    .wrapper {
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: 1490px) {
            justify-content: left;
        }
    }

    h1 {
        text-align: center;
        margin-bottom: 150px;
    }

    img {
        width: 100%;
        max-width: 100%;
        @media only screen and (max-width: 1000px) {
            width: 115%;
            max-width: 115%;
        }
        @media only screen and (max-width: 900px) {
            width: 125%;
            max-width: 125%;
        }
        @media only screen and (max-width: 800px) {
            width: 150%;
            max-width: 150%;
        }
        @media only screen and (max-width: 500px) {
            width: 200%;
            max-width: 200%;
        }
        @media only screen and (max-width: 375px) {
            width: 225%;
            max-width: 225%;
        }
    }

    .alignement {
        @media only screen and (max-width: 1490px) {
            overflow-x: scroll;
            overflow-wrap: normal;
        }

        ul {
            display: flex;
            align-items: center;
            padding: 0;

            li {
                background: url(../assets/images/illustrations/list-style.svg)
                    no-repeat left center;
                padding: 10px 50px;
                vertical-align: middle;
                list-style: none;
                line-height: 1.5rem;
            }
        }

        @media only screen and (max-width: 1000px) {
            ul {
                li {
                    background-size: 25% 25%;
                }
            }
        }
    }
}
