.fichespratiques {
    margin: 80px 0;
    .wrapper {
        width: 70vw;
        padding-bottom: 80px;

        position: relative;
    }

    .content {
        padding: 20px 60px;
        background-color: var(--color-very-pale-green);
        border-radius: 75px;
        outline: 8px solid var(--color-deep-green);
        outline-offset: 14px;

        h2 {
            text-transform: uppercase;
            color: var(--color-deep-green);
            display: inline-block;
            align-self: flex-start;
        }

        .liste {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 80%;
            ul {
                list-style: none;
                padding: 0;

                li {
                    background: url(../assets/images/illustrations/list-style.svg)
                        no-repeat left top;
                    padding: 0 0 25px 80px;
                }
            }
        }
    }

    .chiffre {
        position: absolute;
        top: 0;

        z-index: -1;

        color: var(--color-white);
        background-color: var(--color-deep-green);
        border-radius: 10px;
        display: inline-block;

        h2 {
            margin: 0;
        }
    }

    .fiche_chiffreR {
        .chiffre {
            right: -160px;
            padding: 30px 50px 30px 300px;
        }
    }

    .fiche_chiffreL {
        .chiffre {
            left: -160px;
            padding: 30px 300px 30px 50px;
        }
    }
}
