footer {
    background: url(../assets/background/footer_bg.svg);
    background-size: cover;
    position: relative;
    z-index: 8;

    .wrapper {
        padding: var(--spacing-bg);

        .nav_footer {
            margin-bottom: 50px;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                padding: 0;

                @media only screen and (max-width: 1100px) {
                    a {
                        &:nth-child(3) {
                            order: -1;
                            margin-bottom: 50px;
                        }
                    }

                    flex-direction: column;
                }

                li {
                    padding: 0 50px;
                    transition: 0.4s $ease-in-out-expo;

                    @media only screen and (max-width: 1100px) {
                        margin-bottom: 50px;
                    }

                    &:hover {
                        transition: 0.4s $ease-in-out-back;
                        transform: translateY(-10px);
                    }

                    a {
                        color: var(--color-very-pale-green);
                    }
                }
            }
        }

        .coordonees {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 50px;

            @media only screen and (max-width: 1680px) {
                justify-content: space-around;
            }

            @media only screen and (max-width: 1100px) {
                flex-direction: column;
                align-items: center;
            }

            span {
                color: var(--color-very-pale-green);
                font-size: var(--font-size-bigger-content);
                font-family: var(--font-secondary);
            }

            .list-contact {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 15px 0;

                @media only screen and (max-width: 1100px) {
                    justify-content: center;
                }

                img {
                    padding-right: 15px;
                }

                a {
                    color: var(--color-very-pale-green);
                    transition: 0.4s $ease-in-out-back;
                }
            }
            .mail,
            .map {
                a {
                    font-size: 1rem;
                    text-decoration: underline;
                }
            }

            a:hover {
                transform: translateX(10px);
                transition: 0.4s $ease-in-out-back;
            }

            .contact {
                @media only screen and (max-width: 1100px) {
                    text-align: center;

                    margin-bottom: 50px;
                }
            }

            .phone,
            .mail,
            .map {
                .icon {
                    color: var(--color-primary);
                    margin-right: 15px;
                }
            }
        }

        .medias {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .reseaux {
                img {
                    padding: 0 20px;
                    transition: 0.4s $ease-in-out-back;

                    &:hover {
                        transform: translateY(-10px);
                        transition: 0.4s $ease-in-out-back;
                    }
                }
            }

            @media only screen and (max-width: 1100px) {
                margin-bottom: 50px;
            }
        }

        .infolettre {
            .container {
                padding: 15px 0;
                input {
                    color: rgba($color: #24243a, $alpha: 0.25);
                    font-size: 1rem;
                    padding: 5px 15px;
                    background-color: var(--color-white);
                    border-radius: 13px;
                    border: solid 5px var(--color-very-pale-green);
                    width: 100%;
                }
            }
            .button {
                a {
                    display: inline-block;
                    color: var(--color-black);
                    font-weight: 700;
                    background-color: #65d6ba;
                    padding: 10px 30px;
                    border-radius: 30px;
                    border: none;
                    filter: drop-shadow(4px 6px 0px #25a18e);
                    transition: 0.4s $ease-in-out-back;
                    display: inline-block;

                    &:hover {
                        cursor: pointer;
                        transform: translateX(4px) translateY(6px);
                        filter: none;
                        transition: 0.4s $ease-in-out-back;
                    }
                }
            }

            @media only screen and (max-width: 1100px) {
                margin-bottom: 50px;
            }
        }

        .partenaires {
            display: flex;
            flex-wrap: nowrap;

            justify-content: space-around;
            align-items: center;

            img {
                padding: 0 10px;
            }

            @media only screen and (max-width: 1680px) {
                flex-wrap: wrap;
            }
        }
    }
}

.jauge + footer {
    margin-top: -60px;
}
