footer {
    background-color: var(--color-primary);

    .wrapper {
        padding: var(--spacing-lg);
        color: var(--color-white);

        .nav_footer {
            margin-bottom: 50px;

            @media only screen and (max-width: 500px) {
                margin-bottom: 0;

                ul a {
                    text-align: center;

                    img {
                        width: 60%;
                    }
                }
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                padding: 0;

                @media only screen and (max-width: 1100px) {
                    a {
                        margin-bottom: 50px;
                        order: -1;
                    }

                    flex-direction: column;
                }

                li {
                    padding: 0 50px;
                    transition: 0.4s $ease-in-out-expo;

                    @media only screen and (max-width: 1100px) {
                        margin-bottom: 50px;
                    }

                    &:hover {
                        transition: 0.4s $ease-in-out-back;
                        transform: translateY(-10px);
                    }

                    a {
                        color: var(--color-very-pale-green);
                    }
                }
            }
        }

        .coordonees {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 50px;

            @media only screen and (max-width: 1680px) {
                justify-content: space-around;
            }

            @media only screen and (max-width: 1100px) {
                flex-direction: column;
                align-items: center;
            }

            @media only screen and (max-width: 500px) {
                margin-bottom: 0;
            }

            span {
                color: var(--color-very-pale-green);
                font-size: var(--font-size-bigger-content);
                font-family: var(--font-primary);
            }

            .list-contact {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 15px 0;

                @media only screen and (max-width: 1100px) {
                    justify-content: center;
                }

                img {
                    padding-right: 15px;
                }

                a {
                    color: var(--color-very-pale-green);
                    transition: 0.4s $ease-in-out-back;
                }
            }
            .mail,
            .map {
                a {
                    font-size: 1rem;
                    text-decoration: underline;
                }
            }

            a:hover {
                transform: translateX(10px);
                transition: 0.4s $ease-in-out-back;
            }

            .contact {
                div {
                    margin-top: 5px;
                }

                @media only screen and (max-width: 1100px) {
                    text-align: center;

                    margin-bottom: 50px;
                }
            }

            .phone,
            .mail,
            .map {
                .icon {
                    color: var(--color-primary);
                    margin-right: 15px;
                }
            }
        }

        .medias {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                text-align: center;
            }
            .reseaux {
                img {
                    padding: 0 20px;
                    margin-top: 20px;
                    transition: 0.4s $ease-in-out-back;

                    &:hover {
                        transform: translateY(-10px);
                        transition: 0.4s $ease-in-out-back;
                    }
                }
            }

            @media only screen and (max-width: 1100px) {
                margin-bottom: 50px;
            }
        }

        .map {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            a {
                color: white;
                text-align: right;
                transition: 0.4s $ease-in-out-back;

                &:hover {
                    transform: translateX(-10px);
                    transition: 0.4s $ease-in-out-back;
                }
            }
        }
    }

    .partenaires {
        display: flex;
        flex-wrap: nowrap;

        justify-content: space-around;
        align-items: center;

        img {
            padding: 0 10px;
        }

        @media only screen and (max-width: 1680px) {
            flex-wrap: wrap;
        }

        @media only screen and (max-width: 500px) {
            a {
                width: 50%;
                padding: 10px;
            }
        }
    }
}
