.galerie {
    padding: 75px 0 150px 0;
    padding-bottom: 100px;
    background-size: cover;
    background-color: var(--color-mid-pale-blue);

    @media only screen and (max-width: 699px) {
        margin: 80px 0;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 10px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        :nth-child(1) {
            grid-row: span 2;
        }
        :nth-child(5) {
            grid-row: span 2;
        }

        @media only screen and (max-width: 1240px) {
            grid-template-columns: repeat(2, 1fr);

            :nth-child(1),
            :nth-child(5) {
                grid-row: initial;
            }
        }

        @media only screen and (max-width: 699px) {
            grid-template-columns: 1fr;
        }
    }
}
.contact_page + .galerie {
    .wrapper {
        :nth-child(5) {
            grid-row: initial;
        }
    }
}
