.header {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            object-fit: contain;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        div {
            display: flex;
            flex-direction: column;
            padding: 20px 0;

            .top_bar {
                margin-bottom: 20px;
            }

            ul {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                align-items: center;
                padding: 0;
                margin: 0;

                li {
                    margin-left: 50px;
                    font-weight: 500;
                    transition: 0.4s $ease-in-out-expo;

                    &:hover {
                        transition: 0.4s $ease-in-out-back;
                        transform: translateY(-10px);
                    }
                }

                .connexion {
                    color: #1a568c;
                    text-decoration: underline;
                }

                .button_vert {
                    background-color: var(--color-primary);
                    padding: 10px 20px;
                    border-radius: 30px;
                    border: none;
                    filter: drop-shadow(4px 6px 0px #bbd78e);

                    transition: 0.4s $ease-in-out-back;

                    &:hover {
                        cursor: pointer;
                        transform: translateX(4px) translateY(6px);
                        filter: none;
                        transition: 0.4s $ease-in-out-back;
                    }

                    a {
                        color: var(--color-black);
                    }
                }

                .button_bleu {
                    background-color: #1976a6;
                    padding: 10px 20px;
                    border-radius: 30px;
                    border: none;
                    filter: drop-shadow(4px 6px 0px #1757a1);
                    font-weight: 500;

                    transition: 0.4s $ease-in-out-back;

                    &:hover {
                        cursor: pointer;
                        transform: translateX(4px) translateY(6px);
                        filter: none;
                        transition: 0.4s $ease-in-out-back;
                    }

                    a {
                        color: var(--color-very-pale-green);
                    }
                }
            }
        }

        .header__toggle {
            display: none;
        }

        .mobile {
            display: none;
        }
    }

    @media only screen and (max-width: 1500px) {
        padding: 10px 0;

        .wrapper {
            div {
                display: none;
            }

            .header__toggle {
                display: flex;
                --bar-width: 50px;
                --bar-height: 8px;
                --bar-spacer: 8px;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;

                padding: 0;
                position: relative;
                width: var(--bar-width);
                height: var(--bar-width);
                z-index: 10;

                span {
                    border-radius: 5px;
                    display: block;
                    height: var(--bar-height);
                    width: var(--bar-width);
                    position: absolute;
                    top: calc(50% - var(--bar-height) / 2);
                    left: calc(50% - var(--bar-width) / 2);

                    transition: 0.3s all $ease-out-circ;

                    &:nth-child(1) {
                        background: #25a18e;
                        top: calc(
                            50% - var(--bar-height) / 2 - var(--bar-height) -
                                var(--bar-spacer)
                        );
                    }

                    &:nth-child(2) {
                        background: #25a18e;
                    }

                    &:nth-child(3) {
                        background: #1b78a4;
                        top: calc(
                            50% - var(--bar-height) / 2 + var(--bar-height) +
                                var(--bar-spacer)
                        );
                    }
                }

                .nav-is-active & {
                    transition: 0.3s all $ease-out-circ;
                    span {
                        top: calc(50% - var(--bar-height) / 2);
                        &:nth-child(1) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            transform: scaleX(0);
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}

.nav-is-active {
    .header {
        .wrapper {
            .mobile {
                display: flex;
            }
        }
    }
}
