.header {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            object-fit: contain;
        }

        div {
            display: flex;
            flex-direction: column;
            padding: 20px 0;

            .top_bar {
                margin-bottom: 20px;
            }

            ul {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                align-items: center;
                padding: 0;
                margin: 0;

                li {
                    margin-left: 50px;
                    font-weight: 500;
                }

                .connexion {
                    color: #1a568c;
                    text-decoration: underline;
                }

                .button_vert {
                    background-color: var(--color-primary);
                    padding: 10px 20px;
                    border-radius: 30px;
                    border: none;
                    filter: drop-shadow(4px 6px 0px #bbd78e);

                    a {
                        color: var(--color-black);
                    }
                }

                .button_bleu {
                    background-color: #1976a6;
                    padding: 10px 20px;
                    border-radius: 30px;
                    border: none;
                    filter: drop-shadow(4px 6px 0px #1757a1);
                    font-weight: 500;

                    a {
                        color: var(--color-very-pale-green);
                    }
                }
            }
        }

        .menu {
            display: none;
        }
    }

    @media only screen and (max-width: 1310px) {
        .wrapper {
            div {
                display: none;
            }

            .menu {
                display: flex;
            }
        }
    }
}
