.header {
    padding: 25px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            object-fit: contain;
        }

        .logo {
            display: flex;
            align-items: center;

            @media only screen and (max-width: 700px) {
                width: 75%;
            }
        }

        .menu_desktop {
            display: flex;

            @media only screen and (max-width: 500px) {
                display: none;
            }
        }

        .menu_mobile {
            display: none;

            @media only screen and (max-width: 500px) {
                display: flex;
                width: 75%;
            }
        }
    }
}

.nav_content {
    display: flex;
    flex-direction: column;

    .top_bar {
        margin-bottom: 18px;

        li {
            &:nth-child(2) {
                background-color: #1976a6;
                padding: 8px 20px;
                border-radius: 30px;
                border: none;
                filter: drop-shadow(4px 6px 0px #1757a1);
                font-weight: 500;

                transition: 0.4s $ease-in-out-back;

                &:hover {
                    cursor: pointer;
                    transform: translateX(4px) translateY(6px);
                    filter: none;
                    transition: 0.4s $ease-in-out-back;
                }

                a {
                    color: var(--color-very-pale-green);
                }
            }

            &:nth-child(3) {
                background-color: var(--color-primary);
                padding: 8px 20px;
                border-radius: 30px;
                border: none;
                filter: drop-shadow(4px 6px 0px #bbd78e);

                transition: 0.4s $ease-in-out-back;

                &:hover {
                    cursor: pointer;
                    transform: translateX(4px) translateY(6px);
                    filter: none;
                    transition: 0.4s $ease-in-out-back;
                }

                a {
                    color: var(--color-black);
                }
            }
        }
    }

    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
            margin-left: 50px;
            font-weight: 500;
            transition: 0.4s $ease-in-out-expo;

            &:hover {
                transition: 0.4s $ease-in-out-back;
                transform: translateY(-5px);
            }
        }

        .connexion {
            color: #1a568c;
            text-decoration: underline;
        }

        .button_vert {
            background-color: var(--color-primary);
            padding: 10px 20px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 6px 0px #bbd78e);

            transition: 0.4s $ease-in-out-back;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(6px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }

            a {
                color: var(--color-black);
            }
        }

        .button_bleu {
            background-color: #1976a6;
            padding: 10px 20px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 6px 0px #1757a1);
            font-weight: 500;

            transition: 0.4s $ease-in-out-back;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(6px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }

            a {
                color: var(--color-very-pale-green);
            }
        }
    }

    @media only screen and (max-width: 1500px) {
        display: none;
    }
}
