.hero {
    height: 90vh;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    video {
        width: 100vh;
        position: absolute;
        top: 0;
    }

    .wrapper {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;

        margin-bottom: 25px;

        @media only screen and (max-width: 1600px) {
            margin-bottom: 10px;
        }

        @media only screen and (max-width: 1500px) {
            margin-bottom: -10px;
        }

        @media only screen and (max-width: 1360px) {
            margin-bottom: 20px;
        }
    }

    .courbe_bleu {
        position: absolute;
        bottom: -70px;
        left: 0;

        @media only screen and (max-width: 1440px) {
            bottom: -50px;
        }
    }

    .courbe_vert {
        position: absolute;
        bottom: -50px;
        left: 0;
    }

    .bleu {
        z-index: 1;

        p {
            position: relative;
            font-size: 36px;
            font-family: var(--font-secondary);
            color: var(--color-deep-blue);
            font-weight: 600;
            z-index: 3;

            @media only screen and (max-width: 1360px) {
                font-size: 24px;
            }
        }
    }

    .vert {
        img {
            position: absolute;
            top: 0;
            right: 0;
            //width: 100vw;
        }

        p {
            position: relative;
            font-size: 36px;
            font-family: var(--font-secondary);
            color: var(--color-deep-green);

            font-weight: 600;
            text-align: right;
            //margin-top: -200px;

            @media only screen and (max-width: 1360px) {
                font-size: 24px;
            }
        }
    }
}
