.info_membre {
    padding: var(--spacing-lg);

    .wrapper {
        text-align: center;

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: start;
            gap: 50px;
            padding: 0;
            margin: 50px 0 0 0;

            @media only screen and (max-width: 800px) {
                grid-template-columns: 1fr;
            }
        }
        li {
            background: url(../assets/images/illustrations/list-style.svg)
                no-repeat left top;
            padding-bottom: 20px;
            padding-left: 80px;
            list-style: none;
            line-height: 130%;
            vertical-align: middle;
            text-align: left;

            p {
                margin: 0;
            }
        }

        a {
            display: inline-block;
            color: var(--color-black);
            font-weight: 500;
            background-color: #abdbaa;
            padding: 10px 30px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 7px 0px var(--color-deep-green));
            transition: 0.4s $ease-in-out-back;
            margin: 25px 0 0 0;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(7px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }
        }

        .commentaire {
            margin: 45px 0 0 0;
        }
    }
}
