.composante_maladies {
    background: url(../assets/background/maladies_bg.svg);
    background-size: cover;
    padding: 150px 0;
    position: relative;

    .deco {
        position: absolute;
        top: -10%;
        width: 12%;
    }

    h1 {
        text-align: center;
        margin-bottom: 80px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            padding: 0;
            width: 50%;

            li {
                background: url(../assets/images/illustrations/list-style.svg)
                    no-repeat left center;
                padding: 20px 0 20px 80px;
                list-style: none;
                vertical-align: middle;
                font-size: var(--font-size-content);
            }
        }

        .content-right {
            margin-top: -120px;
            position: relative;

            .brain {
                position: relative;
                transform: rotateZ(2deg);
            }

            .doodle {
                position: absolute;
                right: -10%;
                bottom: -20%;
            }

            a {
                position: absolute;
                left: 0;
                bottom: -20%;
                display: inline-block;
                color: var(--color-black);
                font-weight: 500;
                background-color: #abdbaa;
                padding: 10px 30px;
                border-radius: 30px;
                border: none;
                filter: drop-shadow(4px 7px 0px var(--color-deep-green));
                transition: 0.4s $ease-in-out-back;

                &:hover {
                    cursor: pointer;
                    transform: translateX(4px) translateY(7px);
                    filter: none;
                    transition: 0.4s $ease-in-out-back;
                }
            }
        }
    }
}

@media only screen and (max-width: 1850px) {
    .composante_maladies {
        background-position: center;
    }
}

@media only screen and (max-width: 1000px) {
    .composante_maladies {
        .deco {
            top: -5%;
            width: 15%;
        }
        .content {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            ul {
                width: max-content;
            }

            .content-right {
                margin-top: 0;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .composante_maladies {
        .deco {
            top: -5%;
            width: 23%;
        }

        h1 {
            margin-bottom: 50px;
        }
        .content {
            .content-right {
                left: 20%;
                .brain {
                    width: 70%;
                }

                .doodle {
                    width: 30%;
                    right: 25%;
                    bottom: -5%;
                }

                a {
                    padding: 7px 15px;
                    bottom: -10%;
                    left: 5%;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .composante_maladies {
        padding: 100px 0;
        h1 {
            margin-bottom: 15px;
            font-size: var(--font-size-bigger-content);
        }
        .content {
            ul li {
                padding: 15px 0 15px 60px;
            }
            .content-right {
                a {
                    left: 0;
                }
            }
        }
    }
}
