@media only screen and (min-width: 1050px) {
    .menu {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media only screen and (max-width: 800px) {
            gap: 10px;
        }

        .wrapper {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: var(--color-primary);
            z-index: 10;

            clip-path: circle(25px at calc(100% - 45px) 85px);

            transition: all 0.3s ease-in-out;
        }

        #active:checked ~ .wrapper {
            clip-path: circle(75%);
        }

        .menu-btn {
            position: fixed;
            right: 20px;
            top: 60px;
            z-index: 12;
            text-align: center;
            line-height: 50px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            color: #ffffff;
            cursor: pointer;
            transition: all 0.3s ease;

            box-shadow: 2px 2px 5px #c3c3c3;
        }

        #active:checked ~ .menu-btn {
            background: #fff;
            color: inherit;
        }

        #active:checked ~ .menu-btn i::before {
            content: '\f00d';
        }

        .wrapper .liste_gauche {
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);

            list-style: none;

            padding: 0;

            ul {
                list-style: none;
                padding: 0;
            }

            @media only screen and (max-width: 800px) {
                top: 50%;
                left: 46%;
            }
        }

        .wrapper ul li a {
            color: var(--color-white);
            text-decoration: none;

            transition: all 0.3s ease;

            position: relative;

            font-size: 4rem;

            @media only screen and (max-width: 500px) {
                font-size: 3rem;
            }
        }

        input {
            display: none;
        }

        .logo {
            width: 40%;
            display: flex;

            position: absolute;
            left: 45%;
            top: 2%;

            @media only screen and (max-width: 1100px) {
                left: 42%;
                top: 2%;
            }

            @media only screen and (max-width: 800px) {
                left: 38%;
                top: 2%;
            }

            @media only screen and (max-width: 700px) {
                left: 35%;
                top: 2%;
            }

            @media only screen and (max-width: 600px) {
                left: 50px;
                top: 25px;
                width: 60%;
            }

            @media only screen and (max-width: 400px) {
                left: 25px;
                top: 25px;
                width: 60%;
            }
        }
    }
}
