.questionnaire {
    background-color: var(--color-mid-pale-blue);
    padding: 150px 0 250px 0;
    position: relative;

    .deco1 {
        position: absolute;
        top: -30%;
        right: 0;
        width: 15%;
    }

    .deco2 {
        position: absolute;
        bottom: -30%;
        left: 0;
        width: 12%;
    }
    .wrapper {
        text-align: center;

        h1 {
            margin-bottom: 130px;
        }

        .gform_body {
            font-size: 2rem;

            #field_1_3 {
                font-size: 2rem;
            }
        }

        .gform_footer {
            display: block;
        }

        .question {
            background: var(--color-white);
            border-radius: 130px;
            padding: 100px 100px;
            position: relative;
            z-index: 0;

            &::after {
                content: '';
                position: absolute;
                top: -25px;
                left: 40px;
                width: 100%;
                height: 100%;
                border: 9px solid var(--color-deep-blue);
                background-color: none;
                border-radius: 110px;
                z-index: -1;
            }

            .answers {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    padding: 0 25px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .questionnaire {
        .deco1 {
            top: -20%;
        }

        .deco2 {
            bottom: -15%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .questionnaire {
        padding: 100px 0 150px 0;
        .deco1 {
            top: -10%;
        }

        .deco2 {
            bottom: -20%;
            width: 17%;
        }
    }
}

@media only screen and (max-width: 700px) {
    .questionnaire {
        .deco1 {
            top: -15%;
            width: 20%;
        }

        .deco2 {
            width: 20%;
        }
        .wrapper {
            .question {
                padding: 50px 100px;
                border-radius: 70px;

                &::after {
                    top: -25px;
                    left: 25px;
                    border-radius: 75px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .questionnaire {
        padding: 75px 0 100px 0;

        .deco1 {
            top: -15%;
            width: 25%;
        }

        .deco2 {
            width: 30%;
        }

        .wrapper {
            h1 {
                margin-bottom: 60px;
            }

            .question::after {
                top: -20px;
                left: 15px;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .questionnaire {
        .wrapper {
            .question {
                padding: 25px 50px;
                border-radius: 70px;
            }
        }
    }
}

.compcontact {
    background-color: var(--color-mid-pale-blue);
    padding: 150px 0 250px 0;
    position: relative;

    .deco1 {
        position: absolute;
        top: -30%;
        right: 0;
        width: 15%;
    }

    .deco2 {
        position: absolute;
        bottom: -30%;
        left: 0;
        width: 12%;
    }
    .wrapper {
        text-align: center;

        h1 {
            margin-bottom: 130px;
        }

        .info_contact {
            background: var(--color-white);
            border-radius: 130px;
            padding: 100px;
            position: relative;
            z-index: 0;

            @media only screen and (max-width: 745px) {
                padding: 50px;
            }

            div {
                display: flex;
                align-items: center;
                padding-left: 10%;

                svg {
                    color: var(--color-deep-blue);
                }
                h4 {
                    padding-left: 25px;
                    font-weight: 500;
                    @media only screen and (max-width: 745px) {
                        line-break: anywhere;
                    }
                    a {
                        transition: 0.4s $ease-in-out-back;

                        &:hover {
                            color: var(--color-deep-blue);
                            transform: translateX(10px);
                            transition: 0.4s $ease-in-out-back;
                        }
                    }
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: -25px;
                left: 40px;
                width: 100%;
                height: 100%;
                border: 9px solid var(--color-deep-blue);
                background-color: none;
                border-radius: 110px;
                z-index: -1;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .compcontact {
        .deco1 {
            top: -20%;
        }

        .deco2 {
            bottom: -15%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .compcontact {
        padding: 100px 0 150px 0;
        .deco1 {
            top: -10%;
        }

        .deco2 {
            bottom: -20%;
            width: 17%;
        }
    }
}

@media only screen and (max-width: 700px) {
    .compcontact {
        .deco1 {
            top: -15%;
            width: 20%;
        }

        .deco2 {
            width: 20%;
        }
        .wrapper {
            .info_contact {
                padding: 40px 60px;
                border-radius: 70px;

                &::after {
                    top: -25px;
                    left: 25px;
                    border-radius: 75px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .compcontact {
        padding: 75px 0 100px 0;

        .deco1 {
            top: -15%;
            width: 25%;
        }

        .deco2 {
            width: 30%;
        }

        .wrapper {
            h1 {
                margin-bottom: 60px;
            }

            .info_contact::after {
                top: -20px;
                left: 15px;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .compcontact {
        .wrapper {
            .info_contact {
                padding: 25px 50px;
                border-radius: 70px;
            }
        }
    }
}
