.questionnaire {
    background-color: var(--color-mid-pale-blue);
    padding: 100px 0;

    .wrapper {
        text-align: center;

        h1 {
            margin-bottom: 130px;
        }

        .question {
            background-color: var(--color-white);
            border-radius: 133px;

            padding: 75px 0;
        }
    }
}
