.questionnaire {
    background-color: var(--color-mid-pale-blue);
    padding: var(--spacing-lg);
    position: relative;

    .deco1 {
        position: absolute;
        top: -30%;
        right: 0;
        width: 15%;
    }

    .deco2 {
        position: absolute;
        bottom: -30%;
        left: 0;
        width: 12%;
    }
    .wrapper {
        text-align: center;

        h1 {
            margin-bottom: 130px;
        }

        .gform_heading {
            margin-bottom: 100px;

            span {
                display: none;
            }
        }

        .gform_body {
            background: var(--color-white);
            border-radius: 130px;
            padding: 100px 100px;
            position: relative;
            z-index: 0;

            &::after {
                content: '';
                position: absolute;
                top: -25px;
                left: 40px;
                width: 100%;
                height: 100%;
                border: 9px solid var(--color-deep-blue);
                background-color: none;
                border-radius: 110px;
                z-index: -1;
            }

            .gfield_radio {
                display: flex;
                justify-content: center;
                gap: 50px;
            }
        }

        .button_form {
            display: inline-block;
            background-color: var(--color-primary);
            padding: 10px 20px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 6px 0px #bbd78e);
            font-weight: 700;

            margin-top: 15px;

            transition: 0.4s $ease-in-out-back;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(6px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }

            a {
                color: var(--color-black);
            }
        }

        .gform_wrapper.gravity-theme .gfield_label {
            font-size: 1.5rem;

            @media only screen and (max-width: 600px) {
                font-size: 1.2rem;
            }
        }

        .gform_wrapper.gravity-theme .gfield.gfield--width-full {
            font-weight: 700;
        }

        .compcontact {
            padding: 0;
        }

        .gform_footer {
            display: none;
        }

        .question {
            background: var(--color-white);
            border-radius: 130px;
            padding: 100px 100px;
            position: relative;
            z-index: 0;

            @media only screen and (max-width: 600px) {
                padding: 100px 30px;
            }

            &::after {
                content: '';
                position: absolute;
                top: -25px;
                left: 40px;
                width: 100%;
                height: 100%;
                border: 9px solid var(--color-deep-blue);
                background-color: none;
                border-radius: 110px;
                z-index: -1;
            }

            .answers {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    padding: 0 25px;
                }
            }
        }
    }
}
#field_1_28,
#field_1_32,
#field_1_30,
#field_1_25 {
    margin: auto;
    max-width: 400px;
}
.gform_body {
    @media only screen and (max-width: 500px) {
        padding: 100px 60px;
    }
}
.gform_wrapper.gravity-theme input[type='color'],
.gform_wrapper.gravity-theme input[type='date'],
.gform_wrapper.gravity-theme input[type='datetime-local'],
.gform_wrapper.gravity-theme input[type='datetime'],
.gform_wrapper.gravity-theme input[type='email'],
.gform_wrapper.gravity-theme input[type='month'],
.gform_wrapper.gravity-theme input[type='number'],
.gform_wrapper.gravity-theme input[type='password'],
.gform_wrapper.gravity-theme input[type='search'],
.gform_wrapper.gravity-theme input[type='tel'],
.gform_wrapper.gravity-theme input[type='text'],
.gform_wrapper.gravity-theme input[type='time'],
.gform_wrapper.gravity-theme input[type='url'],
.gform_wrapper.gravity-theme input[type='week'],
.gform_wrapper.gravity-theme select,
.gform_wrapper.gravity-theme textarea {
    border-radius: 10px;
}

.wrapper {
    .gform_footer {
        input {
            display: inline-block;
            background-color: var(--color-primary);
            padding: 10px 20px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 6px 0px #bbd78e);
            font-weight: 500;
            color: var(--color-black);

            margin: 15px auto 0 auto;

            transition: 0.4s $ease-in-out-back;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(6px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }

            a {
                color: var(--color-black);
            }
        }
    }
}

.gform_wrapper.gravity-theme .gfield_checkbox label,
.gform_wrapper.gravity-theme .gfield_radio label {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
}

@media only screen and (max-width: 1400px) {
    .questionnaire {
        .deco1 {
            top: -20%;
        }

        .deco2 {
            bottom: -15%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .questionnaire {
        padding: 100px 0 150px 0;
        .deco1 {
            top: -10%;
        }

        .deco2 {
            bottom: -20%;
            width: 17%;
        }
        .wrapper {
            .question {
                padding: 50px 100px 50px 120px;
                border-radius: 60px;

                &::after {
                    top: -25px;
                    left: 25px;
                    border-radius: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .questionnaire {
        .deco1 {
            top: -15%;
            width: 20%;
        }

        .deco2 {
            width: 20%;
        }
        .wrapper {
            .question {
                padding: 50px 100px 50px 120px;
                border-radius: 60px;

                &::after {
                    top: -25px;
                    left: 25px;
                    border-radius: 60px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .questionnaire {
        padding: 75px 0 100px 0;

        .deco1 {
            top: -15%;
            width: 25%;
        }

        .deco2 {
            width: 30%;
        }

        .wrapper {
            h1 {
                margin-bottom: 60px;
            }

            .question {
                border-radius: 50px;
                padding: 25px 50px 25px 70px;
            }

            .question::after {
                top: -15px;
                left: 15px;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .questionnaire {
        .wrapper {
            .question {
                border-radius: 60px;
            }
        }
    }
}

.compcontact {
    background-color: var(--color-mid-pale-blue);
    padding: var(--spacing-lg);
    position: relative;

    .deco1 {
        position: absolute;
        top: -30%;
        right: 0;
        width: 15%;
    }

    .deco2 {
        position: absolute;
        bottom: -30%;
        left: 0;
        width: 12%;
    }
    .wrapper {
        text-align: center;

        h1 {
            margin-bottom: 130px;
        }

        .info_contact {
            background: var(--color-white);
            border-radius: 130px;
            padding: 100px;
            position: relative;
            z-index: 2;

            @media only screen and (max-width: 745px) {
                padding: 50px;
            }

            div {
                display: flex;
                align-items: center;
                padding-left: 10%;

                svg {
                    color: var(--color-deep-blue);
                }
                h4 {
                    padding-left: 25px;
                    text-align: left;
                    font-weight: 700;
                    transition: 0.4s all $ease-in-out-back;
                    @media only screen and (max-width: 745px) {
                        line-break: anywhere;
                    }

                    a {
                        transition: 0.4s all $ease-in-out-back;
                    }

                    &:hover {
                        transform: translateX(10px);
                        transition: 0.4s all $ease-in-out-back;

                        a {
                            color: var(--color-deep-blue);
                            transition: 0.4s all $ease-in-out-back;
                        }
                    }
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: -25px;
                left: 40px;
                width: 100%;
                height: 100%;
                border: 9px solid var(--color-deep-blue);
                background-color: none;
                border-radius: 110px;
                z-index: -1;

                @media only screen and (max-width: 600px) {
                    top: -25px;
                    left: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .compcontact {
        .deco1 {
            top: -20%;
        }

        .deco2 {
            bottom: -15%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .compcontact {
        padding: 100px 0 150px 0;
        .deco1 {
            top: -10%;
        }

        .deco2 {
            bottom: -20%;
            width: 17%;
        }

        .wrapper {
            .info_contact {
                div {
                    padding-left: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .compcontact {
        .deco1 {
            top: -15%;
            width: 20%;
        }

        .deco2 {
            width: 20%;
        }
        .wrapper {
            .info_contact {
                padding: 40px 40px 40px 60px;
                border-radius: 70px;

                &::after {
                    top: -25px;
                    left: 25px;
                    border-radius: 75px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .compcontact {
        padding: 75px 0 100px 0;

        .deco1 {
            top: -15%;
            width: 25%;
        }

        .deco2 {
            width: 30%;
        }

        .wrapper {
            h1 {
                margin-bottom: 60px;
            }

            .info_contact {
                padding: 20px 20px 20px 40px;
                border-radius: 60px;

                h4 {
                    font-size: 20px;
                }
            }
            .info_contact::after {
                top: -15px;
                left: 15px;
                border-radius: 60px;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .compcontact {
        .wrapper {
            .info_contact {
                padding: 25px;
                border-radius: 70px;
            }
        }
    }
}
