.raisondep {
    margin: auto;
    background-color: var(--color-primary);
    padding: var(--spacing-bg);
    position: relative;

    .wrapper {
        position: relative;
        display: flex;

        flex-direction: column;
        img.cercleR {
            position: absolute;
            top: -10px;
            right: -250px;
            z-index: 0;
        }
        img.cercleL {
            position: absolute;
            top: -100px;
            left: -235px;
            z-index: 0;
        }

        h1 {
            margin-bottom: 50px;
        }

        .container {
            z-index: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .gr1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                :nth-child(1) {
                    width: 50%;
                    padding: 50px 30px;
                    border-radius: 57% 43% 62% 38% / 49% 53% 47% 51%;
                }
                :nth-child(2) {
                    width: 50%;
                    padding: 50px 30px;
                    border-radius: 35% 65% 47% 53% / 60% 48% 52% 40%;
                }
                :nth-child(3) {
                    padding: 50px 30px;
                    width: 50%;
                    border-radius: 57% 43% 65% 35% / 51% 57% 43% 49%;
                }
            }

            img {
                margin-left: -80px;
                display: flex;
                justify-content: right;
            }

            .gr2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                :nth-child(1) {
                    padding: 50px 30px;
                    border-radius: 57% 43% 62% 38% / 49% 53% 47% 51%;
                }
                :nth-child(2) {
                    padding: 50%;
                    padding: 50px 30px;
                    border-radius: 50% 50% 44% 56% / 46% 68% 32% 54%;
                }
                :nth-child(3) {
                    padding: 50px 30px;
                    border-radius: 57% 43% 62% 38% / 49% 53% 47% 51%;
                }
            }
        }

        p {
            background-color: var(--color-very-pale-blue);
            text-align: center;
            width: 60%;
            display: inline-block;
        }
    }

    @media only screen and (max-width: 1156px) {
        .wrapper {
            .container {
                img {
                    display: none;
                }

                p {
                    width: 60%;
                }
            }
        }
    }
    @media only screen and (max-width: 900px) {
        .wrapper {
            .container {
                img {
                    display: none;
                }
                p {
                    width: 70%;
                }
            }
        }
    }
    @media only screen and (max-width: 700px) {
        .wrapper {
            .container {
                img {
                    display: none;
                }
                .gr1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    :nth-child(1) {
                        width: 100%;
                    }
                    :nth-child(2) {
                        width: 100%;
                    }
                    :nth-child(3) {
                        width: 100%;
                    }
                }

                .gr2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    :nth-child(1) {
                        width: 100%;
                    }
                    :nth-child(2) {
                        width: 100%;
                    }
                    :nth-child(3) {
                        width: 100%;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 500px) {
        .wrapper {
            .container {
                img {
                    display: none;
                }
                .gr1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    :nth-child(1) {
                        width: 100%;
                    }
                    :nth-child(2) {
                        width: 100%;
                    }
                    :nth-child(3) {
                        width: 100%;
                    }
                }

                .gr2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    :nth-child(1) {
                        width: 100%;
                    }
                    :nth-child(2) {
                        width: 100%;
                    }
                    :nth-child(3) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
