.has-js {
    overflow-x: hidden;

    [data-scrolly='fromBottom'] {
        opacity: 0;
        transform: translateY(80px);
        transition: 0.6s $ease-in-out-back;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromLeft'] {
        opacity: 0;
        transform: translateX(-80px);
        transition: 0.6s $ease-in-out-back;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight'] {
        opacity: 0;
        transform: translateX(80px);
        transition: 0.6s $ease-in-out-back;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='scaleDown'] {
        transform: scale(1.1);
        transition: 0.6s $ease-in-out-back;

        &.is-active {
            transform: scale(1);
        }
    }
}
