.composante_service {
    padding: 150px 0;
    position: relative;

    .deco {
        position: absolute;
        bottom: -5%;
        right: 0;
        width: 12%;
        z-index: 2;
    }

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .liste {
            max-width: 50%;

            ul {
                padding: 0;
                li {
                    background: url(../../assets/images/illustrations/list-style2.svg)
                        no-repeat left center;
                    padding: 20px 0 20px 80px;
                    list-style: none;
                    vertical-align: middle;
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .composante_service {
        .wrapper {
            .content {
                .liste {
                    ul li {
                        padding: 10px 0 10px 70px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .composante_service {
        .deco {
            position: absolute;
            bottom: -5%;
            right: 0;
            width: 20%;
            z-index: 2;
        }
        .wrapper {
            .content {
                flex-direction: column;
                .liste {
                    max-width: none;
                    order: 1;
                    padding: 25px 0;

                    ul li {
                        padding: 20px 0 20px 80px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .composante_service {
        padding: 100px 0;
        .wrapper {
            .content {
                .liste {
                    ul li {
                        padding: 10px 0 10px 70px;
                    }
                }
            }
        }
    }
}
