.services {
    padding: var(--spacing-lg);

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 20px;

        @media only screen and (max-width: 1000px) {
            grid-template-columns: 1fr;
        }

        article {
            color: var(--color-white);
            padding: 0 25px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:nth-child(odd) {
                background-image: linear-gradient(
                        180deg,
                        #606c38 0%,
                        rgba(0, 0, 0, 0) 100%
                    ),
                    url(../../assets/background/services_bg.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(even) {
                background-image: linear-gradient(
                        180deg,
                        #283618 0%,
                        rgba(16, 22, 10, 0.8163) 59.38%,
                        rgba(0, 0, 0, 0) 100%
                    ),
                    url(../../assets/background/services_bg.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 100px;

                @media only screen and (max-width: 1000px) {
                    margin-top: 0;
                }
            }

            span {
                font-family: var(--font-secondary);
                font-size: 16rem;
                text-align: center;
                margin-bottom: -150px;
            }
        }

        h2 {
            text-align: center;
            margin: 50px 0 100px 0;
        }
    }
}
