.services {
    padding: var(--spacing-lg);

    .wrapper {
        h1 {
            text-align: center;
            margin-bottom: 100px;
        }

        h2 {
            color: white;
        }

        .grid {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            position: relative;

            a {
                background-color: var(--color-deep-green);
                padding: 30px;
                border-radius: 50px;

                text-align: center;

                height: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                transition: 0.4s $ease-in-out-back;

                &:hover {
                    transform: translateY(-10px);
                    transition: 0.4s $ease-in-out-back;

                    background-color: var(--color-pale-green);
                    color: #fcffe8;

                    .fond {
                        background-color: var(--color-deep-green);
                        transition: 0.4s $ease-in-out-back;
                    }
                }

                div {
                    z-index: 10;

                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    img {
                        fill: currentColor;
                        display: inline-block;
                        flex: 0 0 auto;
                        height: 100px;
                        width: 100px;
                        vertical-align: middle;
                        stroke: rgba(0, 0, 0, 0);
                    }
                }

                svg {
                    color: white;
                }

                .fond {
                    position: absolute;
                    background-color: var(--color-pale-green);
                    border-radius: 63% 37% 44% 56% / 52% 37% 63% 48%;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    transition: 0.4s $ease-in-out-back;
                }

                &:nth-child(2) {
                    .fond {
                        border-radius: 27% 73% 49% 51% / 54% 43% 57% 46%;
                    }
                }

                &:nth-child(3) {
                    background-color: #0083a7;

                    .fond {
                        border-radius: 51% 49% 49% 51% / 54% 70% 30% 46%;
                        background-color: #2c96b4;
                    }

                    &:hover {
                        transform: translateY(-10px);
                        transition: 0.4s $ease-in-out-back;

                        background-color: #2c96b4;

                        .fond {
                            background-color: #0083a7;
                            transition: 0.4s $ease-in-out-back;
                        }
                    }
                }

                &:nth-child(4) {
                    background-color: #0083a7;

                    .fond {
                        border-radius: 16% 84% 34% 66% / 73% 36% 64% 27%;
                        background-color: #2c96b4;
                    }

                    &:hover {
                        transform: translateY(-10px);
                        transition: 0.4s $ease-in-out-back;

                        background-color: #2c96b4;

                        .fond {
                            background-color: #0083a7;
                            transition: 0.4s $ease-in-out-back;
                        }
                    }
                }

                &:nth-child(5) {
                    .fond {
                        border-radius: 54% 46% 15% 85% / 17% 73% 27% 83%;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1502px) {
        .wrapper {
            .grid {
                grid-template-columns: 1fr 1fr;

                a {
                    .fond {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1156px) {
        .wrapper {
            .grid {
                grid-template-columns: 1fr;

                a {
                    .fond {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
