.composante_service {
    padding: var(--spacing-lg);
    position: relative;

    .deco {
        position: absolute;
        bottom: -5%;
        right: 0;
        width: 12%;
        z-index: 2;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            margin-bottom: 50px;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .liste {
                max-width: 50%;

                h3 {
                    text-align: left;
                }

                ul {
                    padding: 0;
                    li {
                        background: url(../assets/images/illustrations/list-style2.svg)
                            no-repeat left center;
                        padding: 20px 0 20px 80px;
                        list-style: none;
                        vertical-align: middle;
                    }

                    span {
                        font-size: 20px;
                    }
                }
            }
        }

        a {
            display: inline-block;

            color: var(--color-black);
            font-weight: 500;
            background-color: #abdbaa;
            padding: 10px 30px;
            border-radius: 30px;
            border: none;
            filter: drop-shadow(4px 7px 0px var(--color-deep-green));
            transition: 0.4s $ease-in-out-back;

            &:hover {
                cursor: pointer;
                transform: translateX(4px) translateY(7px);
                filter: none;
                transition: 0.4s $ease-in-out-back;
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .composante_service {
        .wrapper {
            .content {
                .liste {
                    ul li {
                        padding: 10px 0 10px 70px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .composante_service {
        .deco {
            position: absolute;
            bottom: -5%;
            right: 0;
            width: 20%;
            z-index: 2;
        }
        .wrapper {
            .content {
                flex-direction: column;
                .liste {
                    max-width: none;
                    order: 1;
                    padding: 25px 0;

                    ul li {
                        padding: 20px 0 20px 80px;
                    }
                }

                img {
                    width: 60%;
                    padding-bottom: 50px;
                    order: 2;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .composante_service {
        padding: var(--spacing-md);
        .wrapper {
            h1 {
                margin: 0;
            }
            .content {
                .liste {
                    ul li {
                        padding: 10px 0 10px 60px;
                        background-size: 10%;
                    }

                    ul span {
                        font-size: 14px;
                    }
                }

                img {
                    width: 80%;
                    order: 2;
                    padding-bottom: 25px;
                }
            }
        }
    }
}
