.composante_swiper {
    background: url(../assets/background/temoignage.svg);
    background-size: cover;
    padding: var(--spacing-lg);

    h1 {
        text-align: center;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 80vh;
        background-image: url(../assets/images/swiper_slide.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        p {
            width: 35%;
            text-align: center;
        }
    }

    @media only screen and (max-width: 1502px) {
    }

    @media only screen and (max-width: 1000px) {
        .swiper-slide {
            height: 80vh;
            background: url(../assets/background/temoignage900.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            p {
                width: 40%;
                text-align: center;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        .swiper-slide {
            height: 80vh;
            background: url(../assets/background/temoignageMobile.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            p {
                width: 40%;
                text-align: center;
            }
        }
    }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    --swiper-pagination-color: var(--color-deep-blue);
    --swiper-pagination-bullet-inactive-color: var(--color-deep-blue);
}
//bravo Léo  je suis fière de toi
