.composante_swiper {
    background-color: var(--color-secondary);
    padding: var(--spacing-lg);
    color: white;

    h2 {
        text-align: center;
    }

    .swiper-slide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @media only screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;

            img {
                width: 80%;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }

        div {
            padding: 0 50px;

            p {
                text-align: center;

                @media only screen and (max-width: 800px) {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width: 1500px) {
        .swiper-slide {
            p {
                text-align: center;
            }
        }
    }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    --swiper-pagination-color: var(--color-deep-blue);
    --swiper-pagination-bullet-inactive-color: var(--color-deep-blue);
}
//bravo Léo  je suis fière de toi
