.composante_swiper {
    background-color: var(--color-secondary);
    padding: var(--spacing-lg);
    color: white;

    h2 {
        text-align: center;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 80vh;

        div {
            padding: 0 50px;

            p {
                text-align: center;
            }
        }
    }

    @media only screen and (max-width: 1156px) {
        .swiper-slide {
            height: 80vh;

            p {
                width: 40%;
                text-align: center;
            }
        }
    }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    --swiper-pagination-color: var(--color-deep-blue);
    --swiper-pagination-bullet-inactive-color: var(--color-deep-blue);
}
//bravo Léo  je suis fière de toi
