.composante_swiper {
    background: url(../assets/background/temoignage.svg);
    background-size: cover;
    padding: var(--spacing-lg);

    h1 {
        text-align: center;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 80vh;
        background-image: url(../assets/images/swiper_slide.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        p {
            width: 35%;
            text-align: center;
        }
    }

    @media only screen and (max-width: 1502px) {
    }

    @media only screen and (max-width: 1156px) {
        .swiper-slide {
            height: 80vh;
            background: url(../assets/background/temoignageMobile.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            p {
                width: 50%;
                text-align: center;
            }
        }
    }
}
//bravo Léo  je suis fière de toi
