.composante_texte_et_swiper {
    padding: var(--spacing-lg);
    position: relative;
    .wrapper {
        text-align: center;

        h1 {
            margin-bottom: 50px;
        }
        .swiper {
            margin-top: 50px;
            .swiper-slide {
                height: auto;
                img {
                    max-width: 70%;
                }
            }
        }
    }

    .deco {
        position: absolute;
        bottom: -20%;
        right: 0;
        width: 15%;
        z-index: 2;
    }
}

@media only screen and (max-width: 1000px) {
    .composante_texte_et_swiper {
        .wrapper {
            .swiper .swiper-slide {
                img {
                    max-width: 100%;
                }
            }
        }

        .deco {
            position: absolute;
            bottom: -10%;
            right: 0;
            width: 15%;
            z-index: 2;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .composante_texte_et_swiper {
        padding: var(--spacing-md);

        .deco {
            position: absolute;
            bottom: -10%;
            right: 0;
            width: 20%;
            z-index: 2;
        }
    }
}
