//FONTS
@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&family=Fredoka:wght@400;500&family=Hind+Madurai:wght@500;600;700&display=swap');

// TOOLS
// mixins et fonctions utilisés globalement dans le SCSS (Sass)

// SETTINGS
// Contient les variables sur les polices, les définitions de couleurs, les définitions de  grandeurs,   etc.
@import 'settings/colors';
@import 'settings/easing';
@import 'settings/fonts';
@import 'settings/dimensions';

// GENERIC
// Permet de réinitialiser les CSS et de changer le modèle de boîte en box-sizing: border-box
@import 'generic/normalize';
@import 'generic/reset';

// ELEMENTS
// Modification des styles généraux de la page. Ce sont les styles qui seront généralement hérités par les éléments de la page.
@import 'elements/body';
@import 'elements/headings';
@import 'elements/links';
@import 'elements/wrapper';

@import '../../node_modules/swiper/swiper';
@import '../../node_modules/swiper/modules/pagination/pagination.scss';
@import '../../node_modules/swiper/modules/navigation/navigation.scss';
// COMPONENTS
// Composants d'interface utilisateur spécifiques.
// C’est là que la majorité de notre travail a lieu.
@import 'components/icons.scss';
@import 'components/swiper.scss';
@import 'components/scrolly.scss';
@import 'components/header.scss';
@import 'components/chiffres.scss';
@import 'components/hero.scss';
@import 'components/services.scss';
@import 'components/maladies-neuro.scss';
@import 'components/questionnaire.scss';
@import 'components/footer.scss';
@import 'components/service-intro.scss';
@import 'components/etape.scss';
@import 'components/texte-et-swiper.scss';
@import 'components/approches.scss';
@import 'components/info_membre.scss';
@import 'components/compo_txt_img.scss';
@import 'components/comp_h1_p_button.scss';
@import 'components/compVideo.scss';
@import 'components/compGrille.scss';
@import 'components/comp_h2_list_button.scss';
@import 'components/comp_links.scss';
@import 'components/raisondepuisements.scss';
@import 'components/jauge.scss';

// Sara
@import 'components/compo_4colonnes_couleur.scss';
@import 'components/galerie.scss';

// UTILITIES
// Utilitaires et classes auxiliaires avec possibilité de remplacer tout ce qui précède, par exemple masquer les éléments de la page
@import 'utilities/accessibility';
