/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    line-height: 1.6;
    overflow: hidden;
}

body.menu-open {
    overflow: hidden;
}

_::-moz-range-track,
body:last-child .selector {
    img {
        width: auto;
    }
}

html {
    scroll-behavior: smooth;
}
