/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-black);
    text-decoration: none;

    &:hover {
        color: var(--color-deep-green);
    }
}
