/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #24243a;

    // Couleurs du projet
    --color-primary: #dceab2;
    --color-shadow-button-green: #bbd78e;

    --color-deep-blue: #207ca1;
    --color-mid-pale-blue: #7fbcd4;
    --color-very-pale-blue: #d6f3ff;

    --color-deep-green: #5ab470;
    --color-pale-green: #74cc8a;
    --color-very-pale-green: #fcffe8;
}
