/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #24243a;

    // Couleurs du projet
    --color-primary: #606c38;
    --color-secondary: #283618;
}
