/* ==========================================================================
   DIMENSIONS / SETTINGS
   ========================================================================== */

// Valeurs utilisées pour les médias query
$breakpoint-xs: 375px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

:root {
    --spacing-xs: 5px;
    --spacing-sm: 25px 0;
    --spacing-md: 50px 0;
    --spacing-lg: 75px 0;
    --spacing-bg: 200px 0;
}
