/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Fredoka', sans-serif;
    --font-secondary: 'Hind Madurai', sans-serif;
    --font-h1: 'B612', sans-serif;

    --font-size-content: 1.5rem;
    --font-size-bigger-content: 2rem;

    /// Grosseur des textes
    --font-size-h1: 3.75rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2.75rem;

    @media only screen and (max-width: 700px) {
        --font-size-h1: 3rem;
        --font-size-h2: 3.75rem;
        --font-size-h3: 3rem;

        --font-size-content: 1.25rem;
        --font-size-bigger-content: 1.75rem;
    }

    @media only screen and (max-width: 500px) {
        --font-size-h1: 2.5rem;
    }

    @media only screen and (max-width: 400px) {
        --font-size-h1: 2.25rem;

        --font-size-content: 1rem;
    }
}
