/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Fredoka', sans-serif;
    --font-secondary: 'Hind Madurai', sans-serif;
    --font-h1: 'B612', sans-serif;

    --font-size-content: 1.5rem;
    --font-size-bigger-content: 2rem;

    /// Grosseur des textes
    --font-size-h1: 4rem;
    --font-size-h2: 3.75rem;
    --font-size-h3: 3rem;
}
