{% include '_partials/_header.html' %}

<section class="hero">
    <div class="video">
        <iframe src="" frameborder="0"></iframe>
    </div>

    <div class="accroches">
        <div class="bleu">
            <img src="assets/images/hero/blue-shape.svg" alt="Forme courbée bleue" />
            <p class="wrapper">Dans la maladie, il n'y a pas que la personne atteinte qui souffre.</p>
        </div>

        <div class="vert">
            <img src="assets/images/hero/green-shape.svg" alt="Forme courbée verte" />
            <p class="wrapper">Un organisme sans but lucratif</p>
        </div>
    </div>
</section>

<section class="services">
    <div class="wrapper">
        <h1>Nos services</h1>

        <div>
            <a href="#">
                <h2>Centre d'activité de jour</h2>

                <svg class="icon">
                    <use xlink:href="#icon-calendrier"></use>
                </svg>
            </a>

            <a href="#">
                <h2>Gestion des comportements</h2>

                <svg class="icon">
                    <use xlink:href="#icon-calendrier"></use>
                </svg>
            </a>

            <a href="#">
                <h2>Soutien psychosocial</h2>

                <svg class="icon">
                    <use xlink:href="#icon-calendrier"></use>
                </svg>
            </a>

            <a href="#">
                <h2>Groupe de soutien</h2>

                <svg class="icon">
                    <use xlink:href="#icon-calendrier"></use>
                </svg>
            </a>

            <a href="#">
                <h2>Formations</h2>

                <svg class="icon">
                    <use xlink:href="#icon-calendrier"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="composante_chiffres">
    <img class="deco" src="assets/images/illustrations/deco/blanc.svg" alt="Cercle décoratif" />
    <div class="wrapper">
        <h1>Le temps d’une pause en quelques chiffres</h1>
        <div class="numbers">
            <div class="proches">
                <span>405</span>
                <p>Proches aidants depuis 2003</p>
            </div>
            <div class="malades">
                <span>345</span>
                <p>Personnes malades accueillies</p>
            </div>
            <div class="heures">
                <span>130 000</span>
                <p>Heures de répit données</p>
            </div>
            <div class="service">
                <span>55%</span>
                <p>Le service le plus utilisé!</p>
            </div>
        </div>
    </div>
</section>

<section class="composante_maladies">
    <img class="deco" src="assets/images/illustrations/deco/vert-beige.svg" alt="Cercles décoratifs" />
    <div class="wrapper">
        <h1>
            Quelles sont les
            <br />
            maladies neurodégénératives ?
        </h1>
        <div class="content">
            <ul>
                <li>La maladie d'Alzheimer.</li>
                <li>La maladie de Parkinson.</li>
                <li>Les maladies cérébro-vasculaires.</li>
                <li>Les atteintes fronto-temporales.</li>
                <li>La maladie à Corps de Lewy.</li>
                <li>La maladie de Creutzfeldt-Jakob.</li>
            </ul>

            <div class="content-right">
                <img class="brain" src="assets/images/composante-maladie/brain.png" alt="Illustration de cerveau" />
                <img
                    class="doodle"
                    src="assets/images/composante-maladie/green-circle.png"
                    alt="Dessin de cercle vert avec traits"
                />
                <a href="#">En savoir plus</a>
            </div>
        </div>
    </div>
</section>

<section class="composante_service">
    <img class="deco" src="assets/images/illustrations/deco/vert-blanc.svg" alt="Cercles décoratifs" />
    <div class="wrapper">
        <h1>Soutien Psychosocial</h1>
        <div class="content">
            <div class="liste">
                <h3>Types d’intervention</h3>
                <ul>
                    <li>
                        Identifier vos besoins et attentes pour favoriser une meilleure collaboration avec les
                        professionnels autour de vous;
                    </li>
                    <li>Reconnaître les bouleversements occasionnés par la maladie sur la dynamique familiale;</li>
                    <li>Trouver des moyens pour mieux faire face aux difficultés de la vie courante;</li>
                    <li>Découvrir l'ensemble des options qui s'offrent à vous;</li>
                    <li>Vous familiariser avec les démarches;</li>
                    <li>Comprendre les enjeux liés à la relation d’aide pour prévenir votre épuisement.​​</li>
                </ul>
            </div>

            <img src="assets/images/illustrations/soutien-psycho.svg" alt="Deux personnes assises qui discutent" />
        </div>
    </div>
</section>

<section class="composante_swiper">
    <h1>Témoignages</h1>

    <div class="swiper" data-component="Carousel" data-carousel="navigation">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <p>« Enfin ma mère retrouve son fils. »</p>
            </div>

            <div class="swiper-slide">
                <p>
                    « Le Temps d'une pause est le seul organisme qui m'a aiguillée vers des solutions humaines et très
                    aidantes. Merci ! »
                </p>
            </div>

            <div class="swiper-slide">
                <p>
                    À chaque fois que j’ai été en contact avec une des intervenantes, je me suis toujours sentie
                    respectée, écoutée et mon expérience était validée. C’est lors des moments les plus difficiles que
                    j’ai communiqué avec elles. Ceci m’a donné de l’espoir et du réconfort à des moments tellement
                    déchirants avec ma mère. Merci beaucoup!
                </p>
            </div>

            <div class="swiper-slide">
                <p>Allo voici la quatrieme slide</p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

{% include '_partials/_footer.html' %}
