{% include '_partials/_header.html' %}

<section class="hero">
    <div>
        <iframe src="" frameborder="0"></iframe>
    </div>

    <div>
        <p>Dans la maladie, il n’y a pas que la personne atteinte qui souffre.</p>

        <p>Un organisme sans but lucratif</p>
    </div>
</section>

<section>
    <div class="wrapper">
        <h1>Nos services</h1>

        <div>
            <article>
                <h2>Centre d'activité de jour</h2>

                <svg class="icon">
                    <use xlink:href="#icon-calendrier"></use>
                </svg>
            </article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </div>
    </div>
</section>

<section class="composante_swiper">
    <h2>Témoignages</h2>

    <div class="swiper" data-component="Carousel" data-carousel="navigation">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <p>« Enfin ma mère retrouve son fils. »</p>
            </div>

            <div class="swiper-slide">
                <p>Allo voici la deuxieme slide</p>
            </div>

            <div class="swiper-slide">
                <p>Allo voici la troisieme slide</p>
            </div>

            <div class="swiper-slide">
                <p>Allo voici la quatrieme slide</p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

{% include '_partials/_footer.html' %}
